* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-link {
  color: black;
  transition: background-color 0.3s ease;
}

.navbar .nav-link.active,
.navbar .nav-link.active:hover,
.navbar .nav-link:hover {
  background-color: purple !important;
  color: white !important;
}


.report-cases-btn {
  border-color: black;
  color: black;
  background-color: white;
}

#reportbtn.report-cases-btn:hover,
#reportbtn.report-cases-btn:active:hover,
#reportbtn.report-cases-btn:active {
  background-color: purple !important;
  color: white !important;

}

.form-control:focus {
  border-color:rgba(100, 42, 182, 0.6);
  box-shadow: 0 0 0 0.25rem rgba(100, 42, 182, 0.6);
}

.sidebar ul li:hover {
  background-color: rgba(100, 42, 182, 1);
  border-radius: 5px;
}
.sidebar ul li:hover a{
  color:white;
  cursor:pointer;
}

.active{
  background-color: rgba(100, 42, 182, 1);
  border-radius: 5px;
  color:white;
}

.contact-card {
  border-radius: 10px; /* Adjust border radius */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow */
  width: 18rem; /* Adjust width as needed */
  margin-bottom:2%;
 }
 
 .avatar {
  border-radius: 50%; /* Make the avatar circular */
  width: 80px; /* Adjust as needed */
  height: 80px;
 }
 
 .text-center {
  text-align: center; /* Center the text */
 }
 .card-text{
  font-size:small;
  
 }

 .shadow-row {
  transition: box-shadow 0.3s ease-in-out;
}
.shadow-row:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-header {
  margin-top: 10%;
}

 /* Styles for small devices */
@media (min-width: 220px) and (max-width: 1020px) {
  .signuppic{
    display:none;
  }
  .form-header h2 {
    font-size: 20px; 
    text-align: center; 
}
}


 /* Styles for big devices */
@media (width: 1024px) {
  .form-header {
    margin-top: 1%;

 
}

.form-header h2 {
    font-size: 20px; 
}
 
}