* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-link {
  color: black;
  transition: background-color 0.3s ease;
}

.navbar .nav-link.active,
.navbar .nav-link.active:hover,
.navbar .nav-link:hover {
  background-color: purple !important;
  color: white !important;
}


.report-cases-btn {
  border-color: black;
  color: black;
  background-color: white;
}

/* #reportbtn.report-cases-btn:hover,
#reportbtn.report-cases-btn:active:hover,
#reportbtn.report-cases-btn:active {
  background-color: purple !important;
  color: white !important;

} */

.form-control:focus {
  border-color:rgba(100, 42, 182, 0.6);
  box-shadow: 0 0 0 0.25rem rgba(100, 42, 182, 0.6);
}

.sidebar ul li:hover {
  background-color: rgba(100, 42, 182, 1);
  border-radius: 5px;
}
.sidebar ul li:hover a{
  color:white;
  cursor:pointer;
}

.active{
  background-color: rgba(100, 42, 182, 1);
  border-radius: 5px;
  color:white;
}