* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-link {
  color: black;
  transition: background-color 0.3s ease;
}

.navbar .nav-link.active,
.navbar .nav-link.active:hover,
.navbar .nav-link:hover {
  background-color: purple !important;
  color: white !important;
}


.report-cases-btn {
  border-color: black;
  color: black;
  background-color: white;
}

#reportbtn.report-cases-btn:hover,
#reportbtn.report-cases-btn:active:hover,
#reportbtn.report-cases-btn:active {
  background-color: purple !important;
  color: white !important;

}

.form-control:focus {
  border-color:rgba(100, 42, 182, 0.6);
  box-shadow: 0 0 0 0.25rem rgba(100, 42, 182, 0.6);
}

.sidebar ul li:hover {
  background-color: rgba(100, 42, 182, 1);
  border-radius: 5px;
}
.sidebar ul li:hover a{
  color:white;
  cursor:pointer;
}

.active{
  background-color: rgba(100, 42, 182, 1);
  border-radius: 5px;
  color:white;
}

.contact-card {
  border-radius: 10px; /* Adjust border radius */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow */
  width: 18rem; /* Adjust width as needed */
  margin-bottom:2%;
 }
 
 .avatar {
  border-radius: 50%; /* Make the avatar circular */
  width: 80px; /* Adjust as needed */
  height: 80px;
 }
 
 .text-center {
  text-align: center; /* Center the text */
 }
 .card-text{
  font-size:small;
  
 }

 .shadow-row {
  transition: box-shadow 0.3s ease-in-out;
}
.shadow-row:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-header {
  margin-top: 10%;
}



/* Styles for small devices */
@media (min-width: 220px) and (max-width: 1000px) {
  .signuppic{
    display:none;
  }

  .form-header h2 {
    font-size: 20px; 
    text-align: center; 
  }

  .loginpic{
    display:none;
  }

  .loginform{
    width:'100%'
  }
}

.welcomebackground {
  background-image: url('./assets/holdinghands.png');
  background-size:cover;
  background-position: center;
  height: 100%;
  padding: 10% 0 ;
  width:100%
}

.welcometitle {
  /* text-align: center; */
  color: #FFFFFF;
  margin-top: 15%;
  font-weight:bold;
  margin-left: 15%;
}

.welcomesubtitle {
  /* text-align: center; */
  color: #FFFFFF;
  padding-top: 6%;
  font-size:large;
  margin-left: 15%;
}

.knowsection {
  margin-top: 5%;
}

.knowdivider {
  display: flex;
  font-size:smaller;
}
.knowdivider1 h5 {
  font-size:medium;
  
}

.knowdivider hr {
  width: 20%;
  margin-left: 10px;
  border: none;
  border-top: 2px solid rgba(24, 24, 24, 1);
}

.knowdivider p {
  margin-left: 15px;
}

.knowcontent p {
  font-size: 0.8rem;
  margin-top: 1%;
}

.knowimage {
  margin-left: 10%;
}

.knowimage img {
  width: 90%;
  height: 350px;
  border-radius: 8px;
}

.knowbutton {
  background-color: rgba(244, 97, 136, 1);
  color: white;
  margin-top: 1%;
}

.whatwedosection {
  margin-top: 5%;
  background-color: rgba(244, 97, 136, 0.2);
}

.wwddivider {
  display: flex;
  
}

.wwddivider hr {
  width: 20%;
  
  
}

.wwddivider p {
  margin-left: 15px;
  color: black;
}

.wwdcontent {
  margin-left: 10%;
  width: 30%;
}

.wwdcontent h5 {
  color: black;
}

.wwdcontent p {
  font-size: 0.8rem;
  margin-left: 2%;
}
/* .wwdimage {
  
} */


.wwdimage img {
  height: 300px;
  width: 75%;
  border-radius: 8px;
  margin-left: 10%;
 
}


/* Styles for big devices */
@media (min-width: 1024px) {
  .form-header {
    margin-top: 1%;
    text-align: center;
  }

 .form-header h2 {
    font-size: 20px; 
  }

  .loginpic{
    height: 100vh;
   
  }
  
  .loginform{
    width:'100%'
  }
  
  .signuppic{
    height: 100vh;
    width:50vw;
   }
  .signupform1{
    padding-top: 2%;
   }
  
   .knowimage img {
    width: 80%;
    
  }
  .wwdcontent {
    margin-left: 7%;
    width: 40%;
  }
  .wwdimage img {
    height: 380px;
    width: 80%;
    border-radius: 8px;
    margin-left: 10%;
  }
 
}



@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  and (orientation: portrait) {
  .loginpic{
    height: 60vh;
    width:50vw;
  }

  .signuppic{
   height: 60vh;
   width:50vw;
  }

}